body {
    background-color: #495163;
    font-family: 'Roboto', sans-serif;
 }
 .header {
    text-align: center;
    margin-top: 20px;
 }
 
 h1 {
    font-size: 50px;
    color: #241a1a;
 }
 .container {
    width: 90%;
    margin: auto;
    padding: 20px;
    text-align: center;
    border: 1px solid #422d2d;
    border-radius: 10px;
    background-color: #4f2f2f;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
 }
 .time, .temp, .name {
    display: inline-block;
    margin: 10px;
 }
.time {
    font-size: 30px;
} 
select {
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #561f1f;
 }
 .join {
    margin-top: 20px;
 }
 
 #search {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #eee;
 }
 
 input[type="button"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #4caf50;
    color: #e74c4c;
    cursor: pointer;
 }
 
 input[type="button"]:hover {
    background-color: #3e8e41;
 }
 textarea {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #766767;
    resize: none;
 }
 
 #txtOutput {
    height: 150px;
 }
 
 #txtMsg:focus, #txtOutput:focus {
    outline: none;
    box-shadow: 0 0 5px #719ECE;
 }
 button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #4caf50;
    color: #c34747;
    cursor: pointer;
 }
 
 button:hover {
    background-color: #3e8e41;
 }
 
 #stop {
    margin-left: 10px;
    background-color: #f44336;
 }
 
 #stop:hover {
    background-color: #d32f2f;
 }
.idText{
    color: #d32f2f;
} 
 
